html {
  font-family: 'Questrial', sans-serif;
  width: 100%;
  margin: 0;
  font-size: 18px;
  color:#474448;
  background-color: #f9f9f9;
}

h1, h2, h3 {
  font-family: 'Viga', sans-serif;
}

/*Header Starts Here*/
header {
  height:64px;
  margin: 8px 24px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.logo {
  display: inline-flex;
  justify-content: flex-start;
  height: 32px;
  align-items: center;
}

.logo p {
  color: #979797;
  font-size: 1.2rem;
}

.logo p:first-of-type {
  font-weight: 900;
  color: #474448;
}

nav li{
  display: inline-flex;
  padding: 8px;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 500;
  color: #7d7984;
  transition: all 0.5s linear;
}

nav li:hover {
  text-shadow: 1px 1px 1px #7d7984;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

/*Banner Starts Here*/
.banner {
  display: inline-flex;
  width: 100%;
  background-color: #dddddd;
  justify-content: row;
}

.banner img {
  width: 60%;
  max-height: 500px;
  padding: 32px 24px;
}

.banner-text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-text h1 {
  color:#474448;
  font-size: 1.5rem;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #474448;
  color: white;
  font-weight: normal;
  width: 90%;
  padding: 8px 0px;
  transition: all 0.5s linear;
}

.button:hover {
  background-color: #376193;
}

/*First Content Container Starts Here*/
.first-content-container {
  display: flex;
  width: 100%;
}

.left-container {
  display: inline-flex;
  width: 60%;
  flex-direction: column;
  margin: 32px 24px;
}

.third-content-container

.left-container img {
  max-height: 400px;
}

.left-container video{
  height: 400px;
}

.author {
  font-weight: bold;
  font-size: 0.8rem;
}

.right-container {
  display: inline-flex;
  width: 40%;
  flex-direction: column;
  border-left: 2px solid #dddddd;
  padding-bottom: 32px;
}

.information {
  display: inline-flex;
  border-bottom: 3px solid #dddddd;
  overflow:hidden;
}

.information:last-child {
  background-color: #dddddd;
}

.information img {
  height: auto;
  flex-grow:0.35;
  width: 35%;
  max-height: 200px;
  padding: 16px;

}

.information-text {
  display: inline-flex;
  flex-grow: 0.65;
  width: 65%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

.information-text p, h3 {
  padding: 4px;
  margin: 4px;
}

.information a {
  color: #3694d9;
  transition: all 150ms linear 150ms;
}

.information a:hover {
  color: #f0961b;
}

/*Second Content Container Here*/
.second-content-container {
  background-color: #dddddd;
  text-align: center;
}

.second-content-container {
  padding: 32px;
}

.course-section {
  display: inline-flex;
  flex-flow: wrap;
  margin: 0 72px;
}

.course {
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  margin: 16px;
  max-width: 30%;
  text-align: left;
}

.course img {
  padding-bottom: 24px;
  height: auto;
}

.course h3 {
  margin-left: 16px;
  padding-left: 16px;
}

.course p {
  font-weight: normal;
  padding: 4px 16px;
  margin: 4px 16px;
}

.course p:last-child {
  padding-bottom: 24px;
}

/*Third Content Container Starts Here*/
.third-content-container {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  flex-direction: column;
}

.third-content-container h2:first-of-type {
  text-align: center;
}

.third-content-container .information:first-child {
  background-color: #dddddd;
}

.third-content-container .information:last-child {
  background-color: #f9f9f9;
  border: none;
}

/*Footer Starts Here*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-top: 2px solid #dddddd;
  background-color: white;
}

.footer {
  display: inline-flex;
  justify-content: flex-start;
  height: 32px;

}

footer a {
   justify-content: flex-end;
}
